@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Admin panel";
}

<h2>Admin panel</h2>

<div class="btn-group" role="group" aria-label="...">
    <a role="button" class="btn btn-default" href="@Url.Action("TrainingList","Admin")">Working with events</a>
    <a role="button" class="btn btn-default" href="">Working with trainings</a>
    <a role="button" class="btn btn-default" href="">Working with traners</a>
    <a role="button" class="btn btn-default" href="">Feedback training with trainer</a>
</div>
