@model IList<TrainingsCalendar.WebUI.Models.StartEndModel>

@{
    ViewBag.Title = "CreateEvents";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>CreateEvents</h2>

@using (Html.BeginForm())
{
    if (Model.Count == 1)
    {
        <label>TrainingName</label>
        <div class="editor-label">
            @foreach (var VARIABLE in Model)
            {
                <select name="[0].TrainingID">
                    @foreach (var item in VARIABLE.TrainingList)
                    {
                        <option name="[0]TrainingID" value="@item.TrainingID">@item.TrainingName</option>
                    }
                </select>
            }
        </div>
        for (int i = 0; i < 3; i++)
        {
            <div class="editor-label">
                <label>StartDate</label>
            </div>
            <div class="editor-field">
                <input type="date" name="[@i].StartDate" style="margin-bottom: 10px;" />
            </div>

            <div class="editor-label">
                <label>EndDate</label>
            </div>
            <div class="editor-field">
                <input type="date" name="[@i].EndDate" style="margin-bottom: 10px;" />
            </div>
        }
    }
    <p>
        <input type="submit" value="Create" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "EventsList")
</div>